.project-intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.project-intro__content {
  display: flex;
  gap: 24px;
}

/* GAUCHE */
.project-intro__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* ACTIONS */
.project-intro__actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* DROITE */
.project-intro__right {
  flex: 1;
  display: flex;
  align-items: flex-end;  
  justify-content: flex-end;
}

/* IMAGE */
.project-intro__right img {
  width: 100%;
  max-width: 464px;       
  height: auto;
  object-fit: contain;
}
/* IMAGE FRAME  */
.project-intro__visual {
  height: 298px;
  
}

/* MOBILE UNIQUEMENT */
@media (max-width: 833px) {
  .project-intro__content {
    flex-direction: column;
  }

  .project-intro__right {
    justify-content: center;
    align-items: center;
  }

  .project-intro__visual {
    height: auto;
  }
}

