.page-container {
    max-width: 1016px; 
    margin: 32px auto 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
  }
  